//USA
@media only screen and (min-width: 950px) {
    body {
      .images-usa {
        max-width: 1280px;
        min-height: 304px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        justify-content: space-around;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
            height: 347px;
            width: 298px;
            //background-color: cyan;
            margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-usa/usa-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-usa/usa-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-usa/usa-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 950px) {
    body {
      .images-usa {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-usa/usa-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-usa/usa-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-usa/usa-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 690px) {
    body {
      .images-usa {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-usa/usa-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-usa/usa-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-usa/usa-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }

//Australia
@media only screen and (min-width: 950px) {
    body {
      .images-aus {
        max-width: 1280px;
        min-height: 304px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        justify-content: space-around;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
            height: 347px;
            width: 298px;
            //background-color: cyan;
            margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-aus/aus-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-aus/aus-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-aus/aus-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 950px) {
    body {
      .images-aus {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-aus/aus-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-aus/aus-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-aus/aus-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 690px) {
    body {
      .images-aus {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-aus/aus-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-aus/aus-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-aus/aus-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }

//New Zealand
@media only screen and (min-width: 950px) {
    body {
      .images-nz {
        max-width: 1280px;
        min-height: 304px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        justify-content: space-around;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
            height: 347px;
            width: 298px;
            //background-color: cyan;
            margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-nz/nz-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-nz/nz-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-nz/nz-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 950px) {
    body {
      .images-nz {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-nz/nz-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-nz/nz-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-nz/nz-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 690px) {
    body {
      .images-nz {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-nz/nz-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-nz/nz-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-nz/nz-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }

//France
@media only screen and (min-width: 950px) {
    body {
      .images-france {
        max-width: 1280px;
        min-height: 304px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        justify-content: space-around;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
            height: 347px;
            width: 298px;
            //background-color: cyan;
            margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-france/france-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-france/france-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-france/france-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 950px) {
    body {
      .images-france {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-france/france-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-france/france-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-france/france-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 690px) {
    body {
      .images-france {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-france/france-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-france/france-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-france/france-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }

//Egypt
@media only screen and (min-width: 950px) {
    body {
      .images-egypt {
        max-width: 1280px;
        min-height: 304px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        justify-content: space-around;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
            height: 347px;
            width: 298px;
            //background-color: cyan;
            margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-egypt/egypt-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-egypt/egypt-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-egypt/egypt-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 950px) {
    body {
      .images-egypt {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-egypt/egypt-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-egypt/egypt-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-egypt/egypt-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 690px) {
    body {
      .images-egypt {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-egypt/egypt-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-egypt/egypt-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-egypt/egypt-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }

//Japan
@media only screen and (min-width: 950px) {
    body {
      .images-japan {
        max-width: 1280px;
        min-height: 304px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        justify-content: space-around;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
            height: 347px;
            width: 298px;
            //background-color: cyan;
            margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-japan/japan-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-japan/japan-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-japan/japan-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 950px) {
    body {
      .images-japan {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-japan/japan-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-japan/japan-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-japan/japan-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 690px) {
    body {
      .images-japan {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-japan/japan-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-japan/japan-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-japan/japan-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }

//Canada
@media only screen and (min-width: 950px) {
    body {
      .images-canada {
        max-width: 1280px;
        min-height: 304px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        justify-content: space-around;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
            height: 347px;
            width: 298px;
            //background-color: cyan;
            margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-canada/canada-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-canada/canada-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-canada/canada-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 950px) {
    body {
      .images-canada {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-canada/canada-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-canada/canada-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-canada/canada-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 690px) {
    body {
      .images-canada {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-canada/canada-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-canada/canada-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-canada/canada-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }

//UAE
@media only screen and (min-width: 950px) {
    body {
      .images-uae {
        max-width: 1280px;
        min-height: 304px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        justify-content: space-around;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
            height: 347px;
            width: 298px;
            //background-color: cyan;
            margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-uae/uae-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-uae/uae-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-uae/uae-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 950px) {
    body {
      .images-uae {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-uae/uae-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-uae/uae-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-uae/uae-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 690px) {
    body {
      .images-uae {
        max-width: 1280px;
        min-height: 1000px;
        margin: 20px auto;
        //background-color: blanchedalmond;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 110px;
        padding-right: 110px;
  
        .promo {
          height: 347px;
          width: 298px;
          //background-color: cyan;
          margin: 50px auto;
          .img2 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-uae/uae-tour-01.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img3 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-uae/uae-tour-02.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
          }
          .img4 {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(
                to right,
                $overlay-black,
                $overlay-black
              ),
              url(../images/tour/tour-uae/uae-tour-03.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }